:root {
    --background-color: rgb(26, 26, 26);
    --toolbar-color: rgb(42, 42, 42);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding-left: 8vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Toolbar */
.container-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--toolbar-color);
    height: 100%;
    width: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-lines {
    margin-top: auto;
}

img {
    position: relative;
    width: 8vh;
    height: 8vh;
    border-left: 0.5vh solid transparent;
    padding: 1.5vh 1.5vh 1.5vh 1vh;
    box-sizing: border-box;
    filter: opacity(60%);
    -webkit-filter: opacity(60%);
    cursor: pointer;
}

.container-toolbar-extension input {
    width: 8vh;
    height: 8vh;
    padding: 1.5vh 1.5vh 1.5vh 1.5vh;
    background-color: var(--toolbar-color);
    box-sizing: border-box;
    border: 0;
    visibility: hidden;
}

.container-toolbar-extension {
    position: fixed;
    top: 0;
    left: 8vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}


img:hover {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
}

.active {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
    border-left: 0.5vh solid white;
}
   
/* canvas */
.container-canvas {
    cursor: pointer;
    height: 90vh;
    width: 90vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-sizing: border-box;
}

.container-canvas:active {
    cursor: grabbing;
}

/* link */



#github {
    position: fixed;
    bottom: 0;
    right: 0;
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 1.5vh;
    padding: 0.3vh;
}


/* Toolbar portrait
@media (orientation: portrait) {
    .container-toolbar {
        position: fixed;
        top: 92vh;
        background-color: var(--toolbar-color);
        height: 8vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    body {
        background-color: aqua;
    }
}
     */
