:root {
    --background-color: rgb(68, 47, 47);
    --toolbar-color: rgb(42, 42, 42);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding-left: 8vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Toolbar */
.container-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--toolbar-color);
    height: 100%;
    width: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    margin-top: auto;
}

img {
    width: 8vh;
    height: 8vh;
    border-left: 0.5vh solid transparent;
    padding: 1.5vh 1.5vh 1.5vh 1vh;
    box-sizing: border-box;
    filter: opacity(60%);
    -webkit-filter: opacity(60%);
    cursor: pointer;
}

#pen-color {
    box-sizing: border-box;
    width: 8vh;
    height: 8vh;
    padding: 1.5vh 1.5vh 1.5vh 1vh;
    background-color: var(--toolbar-color);
    border-left: 0.5vh solid transparent;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}


img:hover {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
}

    
/* canvas */

.container-canvas {
    cursor: pointer;
    height: 90vh;
    width: 90vh;
    display: flex;
    flex-direction: column;
}

.container-canvas:active {
    cursor: grabbing;
}

