:root {
    --background-color: rgb(26, 26, 26);
    --toolbar-color: rgb(42, 42, 42);
}

body {
    position: fixed;
    background-color: var(--background-color);
    margin: 0;
    padding-left: 8vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Toolbar */
.container-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--toolbar-color);
    height: 100%;
    width: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-lines {
    margin-top: auto;
}

img {
    position: relative;
    width: 8vh;
    height: 8vh;
    border-left: 0.5vh solid transparent;
    padding: 1.5vh 1.5vh 1.5vh 1vh;
    box-sizing: border-box;
    filter: opacity(60%);
    -webkit-filter: opacity(60%);
    cursor: pointer;
}

.container-toolbar-extension input {
    width: 8vh;
    height: 8vh;
    padding: 1.5vh 1.5vh 1.5vh 1.5vh;
    background-color: var(--toolbar-color);
    box-sizing: border-box;
    border: 0;
    visibility: hidden;
}

.container-toolbar-extension {
    position: fixed;
    top: 0;
    left: 8vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}


img:hover {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
}

.active {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
    border-left: 0.5vh solid white;
}
   
/* canvas */
.container-canvas {
    cursor: pointer;
    height: 90vh;
    width: 90vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-sizing: border-box;
}

.container-canvas:active {
    cursor: grabbing;
}

/* link */
#github {
    position: fixed;
    bottom: 0;
    right: 0;
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 1.5vh;
    padding: 0.3vh;
}


@media screen and (orientation: portrait) {
    body {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--background-color);
        margin: 0;
        padding-left: 0;
        padding-top: 9vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    /* Toolbar */
    .container-toolbar {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--toolbar-color);
        height: 9vw;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #grid-lines {
        margin-left: auto;
        margin-top: 0;
    }
    
    img {
        position: relative;
        width: 9vw;
        height: 9vw;
        border-left: 0;
        border-top: 1vw solid transparent;
        padding: 0vw 1vw 1vw 1vw;
        box-sizing: border-box;
        filter: opacity(60%);
        -webkit-filter: opacity(60%);
        cursor: pointer;
    }
    
    .container-toolbar-extension input {
        width: 9vw;
        height: 9vw;
        padding: 1vw 1vw 1vw 1vw;
        background-color: var(--toolbar-color);
        box-sizing: border-box;
        border: 0;
        visibility: hidden;
    }
    
    .container-toolbar-extension {
        position: fixed;
        top: 9vw;
        left: 0;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
    
    .active {
        filter: opacity(100%);
        -webkit-filter: opacity(100%);
        border-left: 0;
        border-top: 1vw solid white;
    }
       
    /* canvas */
    .container-canvas {
        cursor: pointer;
        height: 100vw;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        box-sizing: border-box;
    }
    
    .container-canvas:active {
        cursor: grabbing;
    }
    
    /* link */
    #github {
        position: fixed;
        bottom: 0;
        right: 0;
        color: black;
        background-color: white;
        text-decoration: none;
        font-size: 1.5vh;
        padding: 0.3vh;
    }
}
    
